<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<title>{% if title %}{{title}} - {% endif %}WiT</title>
<link href='http://fonts.googleapis.com/css?family=Fauna+One|Alef:400,700' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/stylesheets/wit.css" />
{% if next_url %}
<link id="next-link" rel="prefetch" href="{{ next_url }}" />
{% endif %}
{% if prev_url %}
<link id="prev-link" rel="prefetch" href="{{ prev_url }}" />
{% endif %}
{% if up_url %}
<link id="up-link" rel="prefetch" href="{{ up_url }}" />
{% endif %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="/javascripts/wit.js"></script>
</head>
<body>
<h1 id="identity"><a href="{{ prefix }}/">Writing Is Thinking</a></h1>
{{ yield }}
</html>
